body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
    height: 2px;
    background-color: #fff;
}


#board {
    width: 450px;
    height: 450px;
    /* background-color: gray; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 147px;
    height: 147px;
    
    /* Text */
    /* background-color: rgb(156, 189, 156); */
    font-size: 70px;
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.winner {
    background-color: #747474;
    color: #07DAC0;
}


.horizontal-line {
    border-bottom: 3px solid #fff;
}

.vertical-line {
    border-right: 3px solid #fff;
}

 .hide {
    display: none;
}

.board1 {
    color: #F4EBD0;
    background-color: #B68D40;
    font-size: 30px;

} 

.playerColor {
    color: red;
}


.draw {
    display: none;
}

.drawShow {
    font-size: 70px;
    position: absolute;
    top: 30%;
    left: 42%;
    z-index: 1;
    background-color: #F4EBD0;
    border: 2px solid black;
    border-radius: 10px;
}


.restartG {
    background-color: #B68D40; 
    color: #ffff; 
    border: 2px solid #ffff;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer; 
    border-radius: 5px;
  }
  
  .restartG:hover {
    background-color: #555555;
    color: white;
  }
  

  
.changeP {
      background-color: #B68D40; 
      color: #ffff; 
      border: 2px solid #ffff;
      padding: 5px 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer; 
      border-radius: 5px;
    }
    
.changeP:hover {
      background-color: #555555;
      color: white;
    }

.playwho {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

/* .prev, .next {
    display: none;
} */


.nextBG {
    background-color: #B68D40; 
    color: #ffff; 
    border: 2px solid #ffff;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer; 
    border-radius: 5px;
  }

  .nextBG:hover {
    background-color: #555555;
    color: white;
  }