body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url(/images/bg1.jpg);
    font-family: 'Indie Flower', cursive;
}

hr {
    width: 500px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 0px;
}

.btn-mainContainer {
    margin-top: 40px;
}


#board {
    width: 450px;
    height: 450px;
    /* background-color: gray; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 147px;
    height: 147px;
    
    /* Text */
    /* background-color: rgb(156, 189, 156); */
    font-size: 70px;
    display: flex;
    justify-content: center; 
    align-items: center;  
      
}

.winner {
    background-color: #145DA0;
    color: #ffff;
}


.horizontal-line {
    border-bottom: 3px solid #fff;
}

.vertical-line {
    border-right: 3px solid #fff;
}

 .hide {
    display: none;
}

.board1 {
    color: #260101;
    background-color: #2E8BC0;
    font-size: 30px;

} 

.playerColor {
    color: red;
}


/* .draw {
    display: none;
}

.drawShow {
    font-size: 20px;
    position: absolute;
    top: 10%;
    left: 46%;
    z-index: 1;
    background-color: #F4EBD0;
    border: 2px solid black;
    padding: 0 20px;
} */


.restartG {
    background-color: #2E8BC0; 
    color: #ffff; 
    border: 2px solid #ffff;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer; 
    border-radius: 5px;
    font-family: 'Indie Flower', cursive;
  }
  
  .restartG:hover {
    background-color: #555555;
    color: white;
  }
  

  
.changeP {
      background-color: #2E8BC0; 
      color: #ffff; 
      border: 2px solid #ffff;
      padding: 5px 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer; 
      border-radius: 5px;
      font-family: 'Indie Flower', cursive;
    }
    
.changeP:hover {
      background-color: #555555;
      color: white;
    }

.playwho {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

.prev, .next {
    display: none;
}


.nextBG {
    background-color: #2E8BC0; 
    color: #ffff; 
    border: 2px solid #ffff;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer; 
    border-radius: 5px;
    font-family: 'Indie Flower', cursive;
  }

  .nextBG:hover {
    background-color: #555555;
    color: white;
  }


  .gameOver {
    display: none;
  }

  .gameOverShow {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
    animation: blinker 1s linear infinite;
  }

  .draw {
    display: none;
  }

  .drawShow {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
    animation: blinker 1s linear infinite;
    font-family: 'Indie Flower', cursive;
  }


  .blink {
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
